<div class="container">

  <div class="logo-container">
    <img class="lakers-logo" src="https://i.imgur.com/SPe1xLo.png" alt="Logo Lakers">
  </div>

  <div class="nova-tarefa-card">
    <h2>Nova Tarefa</h2>
    <div>
      <button class="btn-tarefa" (click)="ativarForm()">Nova Tarefa</button>
    </div>
    <div *ngIf="formVisibility" class="form-centraliza mat-form-field">
      <input class="" required type="text" placeholder="Tarefa" [(ngModel)]="tarefa.nome">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label class="w-100">Categoria</mat-label>
        <select matNativeControl required [(ngModel)]="tarefa.categoria">
          <option value="time">Time</option>
          <option value="instituição">Instituição</option>
          <option value="campeonato">Campeonato</option>
          <option value="torneios">Torneios</option>
          <option value="projeto">Projeto</option>
        </select>
      </mat-form-field>
      <button *ngIf="isInserir" class="btn-salva-tarefa" (click)="novaTarefa()">Inserir</button>
      <button *ngIf="isSalvar" class="btn-salva-tarefa" (click)="atualizarTarefa()">Salvar</button>
    </div>
  </div>

  <div class="lista-tarefas">
    <h2 class="title-tarefa">To do</h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList, doingList]"
      class="example-list" (cdkDropListDropped)="drop($event)" (cdkDropListDropped)="arrived('todo')">
      <div class="example-box" *ngFor="let item of todo" cdkDrag cdkDragEntered (cdkDragEntered)="came(item)">
        <div class="example-box__container" *ngIf="item.estado == '1'">
          <span class="example-box__title">{{item.nome}}</span>
          <span class="example-box__categ">{{item.categoria}}</span>
          <div class="example-box__actions">
            <button (click)="retornaTarefa(item)">Atualizar</button>
            <button (click)="deleted(item.id)">Deletar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lista-tarefas">
    <h2 class="title-tarefa">Doing</h2>

    <div cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing" [cdkDropListConnectedTo]="[todoList, doneList]"
      class="example-list" (cdkDropListDropped)="drop($event)" (cdkDropListDropped)="arrived('doing')">
      <div class="example-box" *ngFor="let item of todo" cdkDrag cdkDragEntered (cdkDragEntered)="came(item)">
        <div class="example-box__container" *ngIf="item.estado == '2'">
          <span class="example-box__title">{{item.nome}}</span>
          <span class=" example-box__categ "> {{item.categoria}} </span>
          <div class="example-box__actions">
            <button (click)="retornaTarefa(item)">Atualizar</button>
            <button (click)="deleted(item.id)">Deletar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="lista-tarefas">
    <h2 class="title-tarefa">Done</h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList, doingList]"
      class="example-list" (cdkDropListDropped)="drop($event)" (cdkDropListDropped)="arrived('done')">
      <div class="example-box" *ngFor="let item of todo" cdkDrag cdkDragEntered (cdkDragEntered)="came(item)">
        <div class="example-box__container" *ngIf="item.estado == '3'">
          <span class="example-box__title">{{item.nome}}</span>
          <span class=" example-box__categ "> {{item.categoria}} </span>
          <div class="example-box__actions">
            <button (click)="retornaTarefa(item)">Atualizar</button>
            <button (click)="deleted(item.id)">Deletar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
